.summary {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;

	.container {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 40px;
		background-color: rgba(0, 128, 0, 0.26);
		padding: 10px;
		width: max-content;
		height: max-content;
		border-radius: 10px;

		.top {
			display: flex;
			flex-direction: column;
			text-align: center;

			h2 {
				text-align: center;
				color: rgb(0, 63, 0);
			}
		}

		.bottom {
			display: flex;
			flex-direction: column;
			gap: 20px;

			.item {
				display: flex;
				align-items: center;
				gap: 4px;

				.key {
					font-weight: 600;
				}
			}
		}

		.buttons {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;

			.cancel {
				background-color: rgb(78, 78, 78);
				padding: 6px;
				border: none;
				cursor: pointer;
				border-radius: 6px;
				width: 70px;
			}

			.send {
				background-color: rgb(0, 63, 0);
				color: white;
				padding: 6px;
				border: none;
				cursor: pointer;
				border-radius: 6px;
				width: 70px;
			}
		}
	}
}
