@import "../../global.scss";

.changePin {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.8);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 10;

	.changePinContainer {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: white;
		padding: 10px;
		width: 50%;
		height: 400px;
		border-radius: 10px;

		@include mobile {
			width: max-content;
		}

		h2 {
			position: absolute;
			top: 10px;
			left: 0px;
			right: 0px;
			text-align: center;
			color: rgb(0, 63, 0);
		}

		span {
			position: absolute;
			top: 10px;
			right: 10px;
			cursor: pointer;
			font-size: 30px;
		}

		form {
			display: flex;
			flex-direction: column;
			gap: 30px;
			margin-top: 16px;

			.formInput {
				display: flex;
				align-items: center;
				width: 250px;
				background-color: rgb(224, 224, 224);
				border-radius: 10px;

				input {
					padding: 8px;
					width: 100%;
					font-size: 16px;
					border: none;
					outline: none;
					background-color: rgb(224, 224, 224);
					border-radius: 6px;

					&::placeholder {
						font-size: 14px;
					}
				}
			}

			.btn {
				width: 250px;
				padding: 8px;
				border: none;
				background-color: gray;
				color: white;
				cursor: pointer;
				border-radius: 6px;
				margin-bottom: 8px;
				transition: all 0.4s ease-in-out;
				font-weight: 600;
				font-size: 16px;

				&.verify {
					background-color: green;
				}

				&:hover {
					transform: scale(1.03);
				}

				&:disabled {
					cursor: not-allowed;
				}
			}
		}
	}
}
